@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body{
  font-family: 'Fira Sans', sans-serif
}
#header-bg {
  background-color: #08254F;
  font-family: 'Fira Sans', sans-serif
}
.closeButton {
  color: #fff;
}
#logo {
height: 3rem;
width: 2.8rem;
left: 94px;
top: 21px;
}
#sidebar-logo {
height: 3rem;
width: 2.8rem;
}
#user-img {
  height: 2rem;
  width: 2rem;
  }
#toggler {
 border: none;
 outline: none;
  }
#offcanvas{
  background-color: #08254F;
  font-family: 'Fira Sans', sans-serif;
}
/* #sidebar-footer span {
margin
} */
@media screen and (max-width: 768px){
  #nav {
    border-top: solid 2px #fff;
    margin-top: 1rem;
  }

}
h3 {
  color: #08254F ;
}
#label{
  font-size: smaller;
  font-weight: 400;
}
#link{
  text-decoration: none;
}
#btn-link {
  cursor: pointer;
}
#h2{
  color: #b71540;
}
#modal {
  background-color: #eee ;
}


#form-bg {
  background: #E8EDFD;

}

/* Sidebar styling */
#footer-links {
  font-size: 14px;
  margin: 0 10px;
  color: white;
 }
#header-links span {
  font-size: 14px;
  margin: 0 10px;
 }
 #header-links:hover {
  color: #fff;
  border-right: solid 2px #fff;
  
 }