@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body{
  font-family: 'Fira Sans', sans-serif
}
#header {
  background-color: #08254F;
  font-family: 'Fira Sans', sans-serif
}
#logo {
  height: 75px;
width: 68px;
left: 94px;
top: 21px;
}
@media screen and (max-width: 768px){
  #nav {
    border-top: solid 2px #fff;
    margin-top: 1rem;
  }

}
h3 {
  color: #08254F ;
}
#label{
  font-size: smaller;
  font-weight: 400;
}
#link{
  text-decoration: none;
}
#btn-link {
  cursor: pointer;
}
#h2{
  color: #b71540;
}
#modal {
  background-color: #eee ;
}


#form-bg {
  background: #E8EDFD;

}